@charset 'utf-8';

html, body { height: 100%; }

body {
  background: rgb(241, 243, 255);
}

.container {
  margin: 20px auto 0 auto;
  max-width: 960px;
  position: relative;
}

.container > h1, .tool > h2 {
  line-height: 1em;
  margin-top: 0;
}

.coming-soon:after {
  content: 'coming soon';
  color: rgb(206, 206, 206);
  margin-left: 10px;
}

.overlay {
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0.9;
  height: 100%;
  z-index: 1;
}

.sheet {
  background: white;
  border-radius: 5px;
  border: 1px solid rgb(233, 233, 233);
  padding: 20px;
  z-index: 2;
}

.sheet-close {
  background: rgb(172, 172, 172);
  border-radius: 32px;
  color: white;
  cursor: pointer;
  font-size: 11px;
  height: 20px;
  left: -6px;
  line-height: 21px;
  padding: 0px 0 0 0;
  position: absolute;
  text-align: center;
  top: -6px;
  width: 20px;
}

.tool {
  left: 20px;
  margin-bottom: 40px;
  position: absolute;
  right: -20px;
  top: 20px;
}

.tool-reading-practice-thai, .tool-typing-word-practice-thai, .tool-typing-character-practice-thai {
  font-size: 50px;
  line-height: 1.5em;
  text-align: center;
}

.tool-reading-practice {
  margin: 20px 0;
}

.tool-typing-word-practice-input, .tool-typing-character-practice-input {
  display: block;
  font-size: 30px;
  margin: 30px auto 20px auto;
  text-align: center;
  width: 500px;
}

.tool-typing-word-practice .tool-typing-word-practice-input.error,
.tool-typing-character-practice .tool-typing-character-practice-input.error {
  border-color: #CC2E2E;
  transition: all .3s ease;
}

.options label {
  clear: left;
  display: block;
}

.tool-typing-word-practice-options, .tool-typing-character-practice-options {
  margin: 0 auto;
  width: 500px;
}

.tool-typing-word-practice-character-options .with-checkbox {
  padding: 0 35px;
  text-align: center;
}

.tool-typing-word-practice-character-options .with-checkbox .checkbox {
  margin: 3px 0 0 0;
}

.tool-typing-word-practice-character-options .with-checkbox input {
  margin: 0;
}

.tool-time-practice-clock, .tool-time-practice-thai {
  font-size: 60px;
  line-height: 1em;
  margin: 20px 0;
  text-align: center;
}

.tool-character-flashcards {
  border-radius: 5px;
  border: 1px solid rgb(233, 233, 233);
  margin: 0 auto;
  padding: 30px;
  width: 300px;
}

.tool-character-flashcards div {
  color: rgb(172, 172, 172);
  display: none;
}

.tool-character-flashcards .tool-character-flashcards-character {
  color: black;
  display: block;
  margin-bottom: 25px;
}

.tool-character-flashcards.answer div {
  display: block;
}

.tool-character-flashcards.answer span {
  color: black;
  margin-left: 10px;
}

.tool-character-flashcards.vowel .tool-character-flashcards-word,
.tool-character-flashcards.vowel .tool-character-flashcards-word-romanisation,
.tool-character-flashcards.vowel .tool-character-flashcards-word-translation {
  display: none;
}

.tool-character-flashcards-character {
  font-size: 90px;
  line-height: 1em;
  text-align: center;
}

.tool-counting {
  font-size: 50px;
  line-height: 1.4em;
  text-align: center;
}

.notice {
  background: rgb(211, 249, 218);
  margin-bottom: 15px;
  padding: 15px;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 100;
}

#options h4 {
  margin-bottom: 0;
}

#options p {
  margin: 0 0 5px 0;
}

#options input[type='submit'] {
  margin-top: 20px;
}
