---
title: Thai Language Learning Tools
---

<h1>Thai Language Tools</h1>
<ul class='tool-list'>
  <li><a href='#' data-tool-name='CharacterFlashcards'>Character Flashcards</a></li>
  <li><a href='#' data-tool-name='ReadingPractice'>Practice Reading</a></li>
  <li><a href='#' data-tool-name='TypingCharacterPractice'>Typing Characters</a></li>
  <li><a href='#' data-tool-name='TypingWordPractice'>Typing Words</a></li>
  <li><a href='#' data-tool-name='TimePractice'>Telling The Time</a></li>
  <li><a href='#' data-tool-name='Counting'>Counting</a></li>
</ul>

<h2>Options</h2>
<label>
  Text to speach URL
  <input id='text-to-speach-url' type='text' value='http://localhost:4567/' />
</label>
