---
title: Thai Language Learning Tools
---

<h1>Thai Language Tools</h1>
<ul class='tool-list'>
  <li><a href='#' data-tool-name='CharacterFlashcards'>Character Flashcards</a></li>
  <li><a href='#' data-tool-name='ReadingPractice'>Practice Reading</a></li>
  <li><a href='#' data-tool-name='TypingCharacterPractice'>Typing Characters</a></li>
  <li><a href='#' data-tool-name='TypingWordPractice'>Typing Words</a></li>
  <li><a href='#' data-tool-name='TimePractice'>Telling The Time</a></li>
  <li><a href='#' data-tool-name='Counting'>Counting</a></li>
</ul>

<h2>Options</h2>
<form id='options'>
  <h4>Text to speech</h4>
  <p>This site does not currently handle text to speech but it might one day. For now if you want to have text to speech you will need to run a local server to handle it for you. You can see an example server on <a href='https://github.com/scottharvey/text-to-speech'>this GitHub page</a> and once you have it running locally add the URL to the server here.</p>
  <label>
    URL
    <input id='text-to-speech-url' type='text' placeholder='http://localhost:4567/' />

  <h4>Auto switch keyboard</h4>
  <p>The script which automatically types in Thai for certain input fields has not been tested on many browser or operating systems. If you have problems you can disable it here and if you have time send me an email letting me know what happened. <a href='mailto:scott@scottharvey.co'>scott@scottharvey.co</a></p>
  <label class="checkbox">
    <input id='auto-switch-to-thai' type="checkbox">
    <span>Automatically type Thai</span>
  </label>
  <br />
  <input type="submit" value="Save Options" />
</form>
